:root {
    --light: #d5d5d5;
    --dark: #2a2a2a;
    --gradient: linear-gradient(45deg, #c31432, #240b36);
    --borda: 3px;
}

body {
    margin: 0;
    font-family: 'Exo', sans-serif;
    background-image: var(--gradient);
    overflow-x: hidden; /*Para tirar o scrollbar inferior*/
}

header {
    background-color: var(--dark);
    height: 80px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--light);
}

.navbutton {
    display: inline-block;
    border: 1px solid var(--light);
    border-radius: var(--borda);
    padding: 10px 25px;
    margin-right: 15px;
    font-weight: bold;
    transition: .3s;
}

.navbutton:hover {
    box-shadow: -3px -3px var(--light);
    transform: translate(3px,3px);
    transition: .3s;
}

#logo {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: var(--light);
    font-size: 30px;
}

#slide-part1 {
    margin-top: 80px;
    width: 640%;
    animation-name: deslize-1;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes deslize-1 {
    from {margin-left: 0%;}
    to {margin-left: -160%;}
}

.carousel p {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(245, 245, 245, 0.5);
    margin: 0;
    padding: 10px;
    font-size: 10px;
    text-align: center;
}

#intro {
    padding: 25px;
}

#intro p {
    text-align: center;
    font-size: 25px;
}

hr {
    border: 1px solid black;
}

#galeria {
    max-width: 1024px;
    margin: 0 auto;
}

.titulos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulos h1 {
    text-align: center;
    border: 2px solid;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    padding: 5px 10px;
}

.drawings_tab-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.drawings_tab {
    text-decoration: none;
    border-radius: var(--borda);
    border: 1px solid;
    padding: 10px 25px;
    margin-right: 15px;
    margin-bottom: 15px; 
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    background-color: rgba(245, 245, 245, 0);
}

.drawings_tab-active {
    box-shadow: -3px -3px;
    transform: translate(3px,3px);
    z-index: -1;
}

.drawings_content {
    display: none;
}

.drawings_content-active {
    display: inline;
}

.animations_tab-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.animations_tab {
    text-decoration: none;
    border-radius: var(--borda);
    border: 1px solid;
    padding: 10px 25px;
    margin-right: 15px;
    margin-bottom: 15px; 
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    background-color: rgba(245, 245, 245, 0);
}

.animations_tab-active {
    box-shadow: -3px -3px;
    transform: translate(3px,3px);
    z-index: -1;
}

.animations_content {
    display: none;
}

.animations_content-active {
    display: inline;
}

.galeria-linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.galeria-linha div {
    width: 22%;
    min-height: 300px;
    margin-bottom: 30px;
    background-color: black;
}

.galeria-linha div img {
    width: 100%;
}

.galeria-linha div p {
    color: white;
    padding-left: 10px;
    transition: .3s;
}

.assinatura {
    font-family: 'Caveat', cursive;
}

.galeria-linha img:hover {
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(0, 0, 0, 0);
    transition: .3s;
}

.galeria-selected {
    background-color: rgba(40, 40, 40, .9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    filter: grayscale(0%);
}

.galeria-selected div {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
}

.galeria-selected img {
    width: 100%;
}

.galeria-selected span {
    color: white;
    font-size: 200%;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

#sobre-mim {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#sobre-mim img {
    width: 100px;
    flex: 1;
    padding-right: 50px;
}

#sobre-mim p {
    width: 60%;
    flex: 4;
    font-size: 25px;
}

#registo {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#registo input, textarea,.form-btn  {
    width: 100%;
    margin-bottom: 15px;
}

#formulario {
    padding: 50px;
    flex: 4;
}

#registo img {
    height: 300px;
    flex: 2;
}

.form-btn {
    text-decoration: none;
    border-radius: var(--borda);
    display: inline-block;
    border: 1px solid;
    padding: 10px 25px;
    margin-right: 15px; 
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    background-image: var(--gradient);
    transition: .3s;
}

.form-btn:hover {
    box-shadow: -3px -3px;
    transform: translate(3px,3px);
    transition: .3s;
}

#registo-sucesso {
    padding: 50px;
    flex: 4;
}

#doc-aviso {
    color: rgb(126, 31, 31);
}

#social-media {
    background-color: black;
    color: white;
}

#social {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#social img {
    height: 30px;
    padding-right: 10px;
}

#social a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

#mob-wrapper {
    display: none;
}

/* Classes para DOM manipulation em JS */

.escondido {
    visibility: hidden;
}

.barra-y-escondida {
    overflow-y: hidden;
}

/* Vista de Tablet */
@media (max-width: 950px) {

   header {
        position: relative;
   }

    .carousel {
        display: none;
    }

    nav {
        display: none;
    }

    #mob-wrapper {
        display: block;
        padding-right: 30px;
    }

    .mob-nav-hide {
        display: none;
    }

    .mob-nav-show {
        display: block;
        position: absolute;
        padding-top: 10px;
    }

    #drop-desenhos, #drop-anim {
        display: none;
        margin-bottom: -15px;
    }

    #drop-desenhos .nav-button, #drop-anim .nav-button {
        margin-left: -30px;
    }

    .nav-button {
        background-color: #2a2a2a;
        padding: 15px 30px;
        margin-left: -95px;
        text-align: center;
        font-weight: bold;
    }

    .galeria-linha div {
        width: 45%;
    }

    #sobre-mim img {
        display: none;
    }

    #registo img {
        display: none;
    }

    footer {
        display: none;
    }

    #social p {
        display: none;
    }

    #sobre-mim p {
        margin: 20px;
    }
}

/* Vista de telemóvel */
@media (max-width: 400px) {

    .drawings_tab-container {
        flex-direction: column;
    }

    .animations_tab-container {
        flex-direction: column;
    }

    .galeria-linha div {
        width: 100%;
    }
}